<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930897983790-h0i0tf7alsktqceaf84s9vemhm6htibd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930897983790-h0i0tf7alsktqceaf84s9vemhm6htibd</string>
	<key>API_KEY</key>
	<string>AIzaSyDpqM2XIxROlPcccsHi366Ix4RNDFf-MSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>930897983790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.atiteas</string>
	<key>PROJECT_ID</key>
	<string>ati-teas-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>ati-teas-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930897983790:ios:2c4e7bfd76985b04ffa2bf</string>
</dict>
</plist>